body {
	font-family: Arial;
	font-size: 0.8em;
	background-color: #CCDDEE;
	width: 800px;
	margin: 0 auto;
}
a {
	color: #6698BD;
	text-decoration: none;
}
a:hover { text-decoration: underline; }
#header {
	background: url("../header.png") 0 -1px no-repeat;
	background-color: #EEEEDD;
	border-left: 3px solid #CCCCDD;
	border-right: 3px solid #CCCCDD;
	height: 215px;
	width: 794px;
}
#header h1 {
	visibility: hidden;
	font-family: Calibri;
	font-style: italic;
	font-size: 3em;
	margin: 0;
	padding: 0;
	color: #3875D7;
}
#content {
	background-color: #EEEEDD;
	border-left: 3px solid #CCCCDD;
	border-right: 3px solid #CCCCDD;
	padding: 0 30px;
}
#content h2 {
	font-size: 2em;
	margin: 20px 0;
	padding: 0 0 2px 10px;
	border-bottom: 1px solid #CCCCDD;
	width: 600px;
	float: right;
	color: #3875D7;
}
#content h3 {
	margin: 20px 0 5px 0;
}
#content h4 {
	color: #6DBAF0;
}
#content ul {
	list-style-type: none;
}
#footer {
	background-color: #FFF;
	border-left: 3px solid #CCCCDD;
	border-right: 3px solid #CCCCDD;
	height: 15px;
	padding: 10px 30px 0 30px;
	text-align: center;
	font-size: 0.7em;
}
.clear {
	height: 0px;
	clear: both;
}
.spacer {
	height: 40px;
	clear: both;
}